{% extends "layout.html" %}
{% block content %}
  <h2><a href="{{ url_for('admin_movie') }}"> Manage Movies</a></h2>
  <h2><a href="{{ url_for('admin_human') }}"> Manage Humans</a></h2>
{% endblock content %}
