{% extends "layout.html" %}
{% block content %}
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.tconst) }}
      {{ render_field(form.type) }}
      {{ render_field(form.title) }}
      {{ render_field(form.start_year) }}
      {{ render_field(form.end_year) }}
      {{ render_field(form.runtime) }}
      {{ render_field(form.picture) }}
    </dl>
    <p><input type=submit value='Add Movie'>
  </form>
{% endblock content %}
