{% extends "layout.html" %}
{% block content %}
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.nconst) }}
      {{ render_field(form.name) }}
      {{ render_field(form.birth_year) }}
      {{ render_field(form.death_year) }}
      {{ render_field(form.picture) }}
    </dl>
    <p><input type=submit value='Add Human'>
  </form>
{% endblock content %}
