{% extends "layout.html" %}
{% block content %}
  <ul>
  {% for human in humans %}
    <li><a href="https://www.imdb.com/name/{{human.nconst}}/">{{human.name}}</a></li>
  {% endfor %}
  </ul>
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.humans) }}
    </dl>
    <p><input type=submit value='Add Human'>
  </form>
{% endblock content %}
