{% extends "layout.html" %}
{% block content %}
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.name) }}
      {{ render_field(form.description) }}
    </dl>
    <p><input type=submit value='Create Movie List'>
  </form>
{% endblock content %}
