{% extends "layout.html" %}
{% block content %}
  <ul>
  {% for movie in movies %}
    <li><a href="https://www.imdb.com/title/{{movie.tconst}}/">{{movie.title}}</a></li>
  {% endfor %}
  </ul>
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.movies) }}
    </dl>
    <p><input type=submit value='Add Movie'>
  </form>
{% endblock content %}
